* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif, 'Poppins', sans-serif;
}

.fullscreenImage {
    background-image: url(../img/garden.jpg);
    position: fixed;
    top: 0mm;
    left: 0mm;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

ul {
    display: flex;
    position: absolute;
    top: 2em;
    float: left;
    list-style-type: none;
    margin-top: 25px;
    width: 100vw;
}

ul li {
    margin-right: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0.3vh 1.5vw;
    border: 2px solid white;
    border-radius: 5px;
}

ul li a:hover {
    background-color: white;
    color: black;
    transition: 0.7s ease;
}

ul li:first-child {
    margin-left: 5vw;
}

ul li:last-child {
    position: relative;
    margin-left: auto;
    margin-right: 15vw;
}

#logout {
    padding: 0.3vh 1.5vw;
    font-size: 24px;
    width: 305px;
    margin-bottom: 0.75em;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.form-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    left: calc(50vw - 250px);
    top: 25%;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 45%)
}

.login {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 400px;
    height: 450px;
    position: absolute;
    top: 12%;
    right: 3.5%;
    /* 40%  */
    /* calc(50vw - 200px)  */
    color: white;
    /*border: 2px solid white;*/
}

.login h1 {
    font-size: 36px;
    margin-bottom: 0.66em;
}

.textbox {
    border: 2px solid white;
    background-color: rgba(133, 133, 133, 0.5);
    overflow: hidden;
    width: 300px;
    height: 1em;
    font-size: 24px;
    color: white;
    /*margin-bottom: 1em;*/
    padding: 1px;
    border-radius: 5px;
}

.form-box p {
    color: red;
    margin-left: 6em;
    margin-bottom: 1em;
}

.textbox::placeholder {
    color: rgb(214, 214, 214);
}

.button {
    font-size: 24px;
    width: 305px;
    margin-bottom: 0.75em;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.button:hover {
    background-color: white;
    color: black;
    transition: .7s ease;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.login a:hover {
    font-weight: 700;
    transition: .7s ease;
}