* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif, 'Poppins', sans-serif;
}

.fullscreenImage {
    background-image: url(../img/garden.jpg);
    position: fixed;
    top: 0mm;
    left: 0mm;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

ul {
    /*background-color: rgba(255, 255, 255, 0.45);*/
    display: flex;
    position: fixed;
    top: 2em;
    float: left;
    list-style-type: none;
    margin-top: 25px;
    width: 100%;
    z-index: 1;
}

ul li {
    margin-right: 10px;
}

ul li a {
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0.3vh 1.5vw;
    border: 2px solid white;
    border-radius: 5px;
}

ul li a:hover {
    box-shadow: 0px 0px 25px 16px white;
    transition: 0.7s ease;
}

.login a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.login a:hover {
    font-weight: 700;
    transition: .7s ease;
}

ul li:first-child {
    margin-left: 5vw;
}

ul li:last-child {
    margin-left: auto;
    margin-right: 15%;
}


/*----------DROPDOWN MENU-----------*/

.dropdown {
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.45);
    width: 12em;
    z-index: 1;
}

.dropdown-content a {
    border: none;
    margin-top: 0.5em;
    display: block;
}

.show {
    display: block;
}


/*--------------------------------*/

.page-content {
    display: flex;
    /*border: 2px solid red;*/
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 15vh;
    left: 10vw;
    width: 80vw;
    height: 70vh;
}

#user-panel {
    width: 50%;
    z-index: 2;
}

#order-history {
    word-wrap: break-word;
    position: relative;
    width: 50%;
    background-color: red;
    z-index: 2;
}

.content-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 45%)
}

.login {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    position: absolute;
    top: 12%;
    right: 3.5%;
    color: white
}

.login h1 {
    font-size: 36px;
    margin-bottom: 0.66em;
}

.textbox {
    border: 2px solid white;
    background-color: rgba(133, 133, 133, 0.5);
    overflow: hidden;
    width: 300px;
    height: 1em;
    font-size: 24px;
    color: white;
    padding: 1px;
    border-radius: 5px;
}

.content-box p {
    color: red;
    margin-left: 6em;
    margin-bottom: 1em;
}

.textbox::placeholder {
    color: rgb(214, 214, 214);
}

.button {
    font-size: 24px;
    width: 305px;
    margin-bottom: 0.75em;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.button:hover {
    background-color: white;
    color: black;
    transition: .7s ease;
    cursor: pointer;
}